/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html,
body,
#container,
#players,
#phase-viewport,
#content > .row,
#content > .row > div,
#game-container,
#game-main {
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
}

.spacer {
  height: 15px;
}

#header {
  border-bottom: 1px solid black;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

#header-main h2 {
  font-size: 25px;
}

#header-veto {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-veto .alert {
  display: inline-block;
}

#header-buttons {
  width: 300px;
  height: 100px;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-bottom: 5px; /* = row gap */
  margin-right: 5px; /* = column gap */
}

#header-buttons button {
  font-size: 20px;
}

#step-forward {
  font-size: 30px !important;
  grid-row: span 2;
}

#content {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

#players {
  border-right: 1px solid black;
  width: 50%;
  padding: 15px;
  flex-shrink: 0;
  overflow-y: auto;
}

#phase-viewport {
  padding: 15px;
  width: 50%
}

#game-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#game-main {
  display: flex;
  flex-direction: column;
  width: 65%;
  flex-shrink: 0;
  padding-right: 15px;
}

#game-steplist {
  width: 35%;
}

#game-children {
  flex-grow: 1;
}
